/* reset & common code starts */
/* * { margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins', sans-serif;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    text-decoration: none;
} */
html{
    scroll-behavior: smooth;
}
body{
   
    font-family: 'Montserrat', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif;
}
.section-title h3{
font-weight: bolder;
margin-bottom: 0;
margin-top: 1rem;
}


.hr-style{
margin: auto;
border: 5px dotted white;
border-bottom: none;
width: 50px;
/* border-color: black; */
opacity: 1;
background: none;
margin-bottom: 1rem;
margin-top: 1rem;
}

/* reset & common code  ends */
/* personal design starts */
.navbar-nav{
    margin-left: auto;
    }
/* personal design ends*/
/* header start  */
header{
    background-image: url(images/banner.jpg);
    background-position:center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: ;
}
.banner-container{
    height: 100vh;
}
.navbar{
padding: 1% 5%;
background-color: rgba(0,0,0,0.3);
}
.navbar-icon{
    color:white;
}
.navbar-brand img{
width: 70px;
height: auto;
}
.nav-link {
margin: 10px;
border-radius: 5px;
transition: 0.4s;
}
.nav-link:hover{
background: #2980b9;
color: white;
transform: scale(1.1);
}
.banner-contents h1{
font-size: 3.5rem;
background-color:rgba(7, 101, 189, 0.8);
padding: 10px 20px;
 font-family: 'Handlee', cursive;
}

/* .banner-title{
    font-weight: 700;
    margin-top: 2rem;
} */
/* .btn-banner{
    margin-right: 3rem;
} */
/* header ends  */
/* features starts */
#features{
    padding: 5% 10%;
    background: #e8ded2;
}
.features-col{
border: 1px solid #ff02c0;
border-radius: 5px;
padding: 15px;
margin: 20px 0;
transition: .4s;
}
.features-col:hover{
    transform: scale(1.1);
    box-shadow: 2px 6px 5px black;
}
.icon-style{
    background: #bb0aac;
    color: white;
    padding: 15px;
    margin: 5px 0;
}

/* features ends  */
/* about me start */
.section-title hr{
    /* margin: none; */
}
#about-me{
padding: 4% 10%;
background: #e8ded2;
}
#about-me P{
    font-size: 1.3rem;
    margin-bottom: 0;
    font-weight: light;
    
}
#about-me a{
    /* font-size: .9rem; */
    /* color: black; */
    /* font-weight: lighter; */
    /* text-decoration: underline; */
}
.star i{
   width: 20px;
}
/* about me end */
/* tutorial start */
#tutorial {
    padding: 4% 10%;
    background: #a3d2ca;
}
.card{
    transition: .4s;
    border: 1px solid #ff02c0;
}
.card:hover{
   transform: scale(1.1);
    box-shadow: 2px 6px 5px black;
}
/* tutorial start */
/* feddback starts */
#feedback{
  padding: 4% 10%; 
  background: #5eaaa8; 
}
.carousel-item{
text-align: center;
padding: 7% 15%;
font-style: italic;
font-size: 1.2rem;
}
.feedback-img{
width: 120px;
height: auto;
margin-bottom: 5px;
}
/* feddback ends */
/* contact me starts  */
#contact{
padding: 2% 10%; 
background: #5eaaa8;
}
.form-group label{
margin-bottom: 0;
font-weight: bold;
}



/* ----------------------------- */
/* .btns-group {
 margin-top: 10px;
 }
.btns-group input{
margin-left: 15px;
} */
/* -----------------------------------  */

/* contact me ends  */

/* footer stars */
footer{
    padding: 1% 10%;
    background:#056676;
}
footer a{
    color: white;
    margin: 0 20px;
}
footer a:hover{
    color: black;
   
}
/* footer ends  */

@media (max-width: 768px){
    .nav-link{background:rgb(0,0,0,0.7)

    }
    .banner-container h1{
        font-size: 2.5rem;
    }
    .search button {
        display:none;
    }
    .search input{
        display:none;
    }
}
